html, body{
    height: 100vh;
}

#body-container{
    height: 100%;
    background-color: rgb(0, 0, 52);
}

#container-1{
  position: fixed;
  width: 100%;
  height: 100vh;
}

#nav-bar{
  z-index: 2;
  position: fixed;
  width: 100%;
}

#container-2{
    z-index: 0;
    position: absolute;
    background-color: rgb(0, 0, 52);
    margin-top: 100vh;
    width: 100%;
    height: fit-content;
}

/* Nav Bar */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(0, 0, 52);
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size:22px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li{
  list-style:none;
  
}
.nav-links a{
  color: rgb(226,226,226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight:bold;
  font-size:14px;
}

.nav-links a:hover{
    color: rgb(246, 195, 68);
}

.burger{
  display:none;
  cursor: pointer;
}

.burger div{
  width:25px;
  height:3px;
  background-color:#fff;
  margin: 5px;
  transition: all 0.3s ease
  
}

@media screen and (max-width:1024px){
  .nav-links{
    width:60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    border-radius: 20px;
    position:absolute;
    right:0px;
    height:92vh;
    top: 8vh;
    background-color:rgb(29, 42, 80);
    display:flex;
    flex-direction: column;  
    align-items: center;
    width:50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display:block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-40deg) translate(-5px,6px);
}

.toggle .line2{
  transform: rotate(90deg) translate(0px,0px);
}

.toggle .line3{
  transform: rotate(35deg) translate(-5px,-6px);
}


/* Type Writer Effect */
#writer-text {
  width: 80%;
  padding: 20px;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 20px auto;
  color: #fff;
  text-align: center;
}


/* Flip Cards*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgb(29, 42, 80);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p{
  font-size: small;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding-top: 50%;
  height: 100%;
  background-color: #00000047;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: large;
}

.responsive {
  width: 100%;
}

.column-3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column-2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.column-1 {
  width: 50%;
  padding: 5px;
  margin-left: 73px;
}

.bootstrap{
  width: 45%;
}

.rows::after {
  content: "";
  clear: both;
  display: table;
}

/* Contact Me Form */
.contact-container {
  height: fit-content;
}

.left-container {
  background-color: rgb(246, 195, 68);
  border-radius: 20px 0 0 20px;
}

.right-container {
  background-color: rgb(29, 42, 80);
  border-radius: 0 20px 20px 0;
}

/* Contact Form */
.user-email, .user-subject, .user-message {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  color: #fff;
  border-bottom: 2px solid rgb(246, 195, 68);
  padding: 10px 0;
  margin: 5px 0;
}

.user-submit input {
  background-color: rgb(246, 195, 68);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  height: fit-content;
  width: min-content;
  padding: 5px;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}

.user-submit input:hover {
  background-color: rgb(247, 204, 81);
}

#footer{
  background-color: rgb(29, 42, 80);
  color: rgb(247, 204, 81);
}


#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
